OPENAI_API_KEY=your_openai_api_key_here

export LANGSMITH_TRACING=true
export LANGSMITH_ENDPOINT=https://api.smith.langchain.com
export LANGSMITH_API_KEY=your_langsmith_api_key_here
export LANGSMITH_PROJECT="Subtitle Analyzer Agent"

export ANTHROPIC_API_KEY=your_openai_api_key_here